@charset "utf-8";

/*Larger devices (small laptops):*/
@media only screen and (max-width: 1200px) {
.container {
	width: 900px;
}
}

/*Medium devices (landscape tablets):*/
@media only screen and (max-width: 992px) {
	.client {
		width: 33.3333333%;
	}
	nav .social-list {
		padding-bottom: 0;
	}
	.container {
		width: 99%;
	}
	#menu-button {
		display: table;
	}
	nav {
		position: absolute;
		width: 100%;
		display: block;
		z-index: 900;
		background: #fff;
		border-bottom: 1px solid #dedede;
		-webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.05);
		box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.05);
		top: -500px;
		-webkit-transition: top 0.3s ease-in-out;
		-moz-transition: top 0.3s ease-in-out;
		-o-transition: top 0.3s ease-in-out;
		transition: top 0.3s ease-in-out;
	}
	.pushed-left nav {
		top: -5px;
		-webkit-transition: top 0.3s ease-in-out;
		-moz-transition: top 0.3s ease-in-out;
		-o-transition: top 0.3s ease-in-out;
		transition: top 0.3s ease-in-out;
	}
	#main-nav ul {
		float: none;
		padding: 32px 0 20px;
	}
	#main-nav ul li {
		float: none;
		text-align: center;
	}
	#main-nav ul li a {
		padding: 4px 0 5px 0px;
	}
	#main-nav ul li ul {
		padding: 4px 0 5px;
	}
	header#header {
		padding: 0px 0;
	}
	h1#logo {
		display: none;
	}
	h4#headertitle {
		display: none;
	}
	
	.element {
	    float: left;
	    /*margin : 10px 10px 10px 15px;*/
	    /*background: none;*/
	    border: 1px solid #dedede;
	}	

	.tile-1 {
	    width: calc(50% - 20px);
	    padding: 30px 35px 20px 35px;
	}
	
}

/* Move banner down on small devices */
@media only screen and (max-width: 692px) {
h4#headertitle-inner {
	display: block;
	top: 24px
}

h4#headertitle {
	display: none;
}

#headeralert {
	margin-bottom: -15px;
}
}

/*Small devices (portrait tablets):*/
@media only screen and (max-width: 668px) {
	/* re-arrange footer on smaller screens */
	#dabblelogo {
	bottom: 35px
	}
	#sourcecode {
	position: relative;
	}
	.social-list {
	padding-bottom: 16px;
	bottom: 51px
	}
	.container {
		width: 99%;
	}
	.client {
		width: 50%;
	}
	.tile-1 {
	    width: calc(100% - 20px);
	    text-overflow: ellipsis;
	}
	.tile-2 {
		width: 280px;
		height: auto;
		padding: 30px 35px 20px 35px;
	}
	.tile-4 {
		width: 280px;
		height: auto;
	}
	.tile-5 {
		height: 1190px;
	}
	/*
	.element, .image-overlay {
		width: 300px !important;
	}
	*/
	.element {
	    float: left;
	    /*margin : 10px 10px 10px 15px;*/
	    /*calc(10rem - 56px);*/
	    /*background: none;*/
	    border: 1px solid #dedede;
	}
	
	
	h1, h2 {
		font-size: 28px;
		letter-spacing: -0.5px;
		margin-bottom: 20px;
	}
	#piechart {
		width: 360px;
		height: 280px;
		cursor: default;
		margin-left: -30px;
	}
	.piechart-tile {
		height: 340px;
	}
	.form-control{
		margin-top: 5px;
		margin-bottom: 5px;
		width: 100% !important;
	}
	
	.buttonWrite{
		margin: 10px 10px 10px 10px;
		width: calc(100% - 20px) !important;
	}

}

/*Extra small devices (phones):*/
@media only screen and (max-width: 480px) {
footer p {
	text-align: center !important;
	float: none !important;
}
header .social-list {
	right: 19px;
}
header .social-list li {
	padding: 0 4px;
}
p.small {
	padding-bottom: 0;
}
h3.panel-title {
	padding: 25px 0px !important;
}
.panel-heading::after, .panel-heading::before {
	right: 0;
}
.panel-body {
	padding: 5px 0px 20px !important
}
.more-margin {
	margin-top: 10px;
}
.header {
	padding-bottom: 0px;
}
h1#logo {
	margin-left: 10px;
	background-size: 164px 63px;
	top: -6px;
}
header #eos-price-usd {
	right: 30px;
}
.social-list {
	position: relative;
	bottom: -5px;
	right: 0px;
}
#dabblelogo {
	bottom: 22px;
}
#sourcecode {
	left: 0px;
}
h3 {
	font-size: 23px;
}
h4 {
	font-size: 16px;
}
.tile-5 {
	height: 1150px;
}
}

/*Legacy extra-small devices (old phones):*/
@media only screen and (max-width: 365px) {
header #eos-price-usd {
	top: 72px;
}
}
