<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:fragment="headFragment">
<title>eIoT Portal</title>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta name="robots" content="noindex, nofollow" />
<meta http-equiv="Expires" content="-1"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Cache-Control" content="No-Cache"/>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/style.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/scripts/ol/ol.css}" />

<script type="text/javascript" th:src="@{/scripts/jquery.1.11.2.min.js}"></script>
<script type="text/javascript" th:src="@{/scripts/datetimepicker.moment.js}"></script>
<script type="text/javascript" th:src="@{/scripts/datetimepicker.js}"></script>
<script type="text/javascript" th:src="@{/scripts/placeholders.min.js}"></script>
<script type="text/javascript" th:src="@{/scripts/ui_common.js}"></script>
<script type="text/javascript" th:src="@{/scripts/ol/ol.js}"></script>
<script type="text/javascript" th:src="@{/scripts/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/scripts/jquery.treeTable.js}"></script>

<script th:inline="javascript">
/*<![CDATA[*/

/////////////////////////////////////////////////////////////////////           
//표준 날짜포맷
var gsStdDateDelim = "-";
//아이콘 이미지 사이즈
var giIconMaxWidth = 180;
var giIconMaxHeight = 180;
// Ajax 중복 호출 방지
var gbProgress = false;
var gbProgressMsg = false;
var gsProgressURL = "";
//geoserver
var gsGeoServerURL = [[${config.getProperty("geoserver.url")}]];
var gsGeoServerLayer = [[${config.getProperty("geoserver.baseLayer")}]];
var gsVWorldURL = [[${config.getProperty("geoserver.vworld.url")}]];
var gsMinZoom = parseInt([[${config.getProperty("geoserver.vworld.minZoom")}]]);
var gsMaxZoom = parseInt([[${config.getProperty("geoserver.vworld.maxZoom")}]]);
//차트 색상
var gsChartBaloonFormat="[" +"[title]]([" + "[category]]):[" + "[value]]";

var gsChartColor1="#fff373";
var gsChartColor2="#ffbf6d";
var gsChartColor3="#f9615c";
var gsChartColor4="#eea8ea";
var gsChartColor5="#fb86c8";
var gsChartColor6="#c790f5";
var gsChartColor7="#cceba3";
var gsChartColor8="#FF6600";
var gsChartColor9="#c2d0ef";
var gsChartColor10="#d4e5b2";
var gsChartColor11="#7ebdf6";
var gsChartColor12="#ff8181";
var gsChartColor13="#7ebdf6";
var gsChartColor14="#59e8b7";
var gsChartColor15="#94c8ed";
var gsChartColor16="#85e1d7";
var gsChartColor17="#e89c9d";




/////////////////////////////////////////////////////////////////////
 /**
   * @작성일   : 2016. 8. 9.
   * @작성자   : sulmin
   * @Method 설명 : Date Picker 초기화 설정
   * @returns
   */
  if((typeof $.datepicker) != "undefined" ) {
  	$(function() {
  		$.datepicker.setDefaults({
  				
  				showAnim : "slideDown",
  				changeMonth: false, // 월을 바꿀수 있는 셀렉트 박스를 표시한다.
  				changeYear: false, // 년을 바꿀 수 있는 셀렉트 박스를 표시한다.
  				showWeek: false,
  				firstDay: 1,
  				showButtonPanel: true,
  				constrainInput: false,
  				buttonImage: "/images/picker_img_on.gif",
  				buttonImageOnly: true,
  				buttonText: [[#{common.datepicker.calendar}]],
  				closeText: [[#{common.button.close}]],
  				prevText: [[#{common.datepicker.prevText}]],
  				nextText: [[#{common.datepicker.nextText}]],
  				monthNames: [  [[#{common.datepicker.month.1}]],
  				            [[#{common.datepicker.month.2}]],
  				           	[[#{common.datepicker.month.3}]],
  				          	[[#{common.datepicker.month.4}]],
  				         	[[#{common.datepicker.month.5}]],
  				        	[[#{common.datepicker.month.6}]],
  				       		[[#{common.datepicker.month.7}]],
  				      		[[#{common.datepicker.month.8}]],
  				    		[[#{common.datepicker.month.9}]],
  				    		[[#{common.datepicker.month.10}]],
  				   			[[#{common.datepicker.month.11}]],
  				  			[[#{common.datepicker.month.12}]]],
  				monthNamesShort: [  [[#{common.datepicker.month.1}]],
  		 				            [[#{common.datepicker.month.2}]],
  		 				           	[[#{common.datepicker.month.3}]],
  		 				          	[[#{common.datepicker.month.4}]],
  		 				         	[[#{common.datepicker.month.5}]],
  		 				        	[[#{common.datepicker.month.6}]],
  		 				       		[[#{common.datepicker.month.7}]],
  		 				      		[[#{common.datepicker.month.8}]],
  		 				    		[[#{common.datepicker.month.9}]],
  		 				    		[[#{common.datepicker.month.10}]],
  		 				   			[[#{common.datepicker.month.11}]],
  		 				  			[[#{common.datepicker.month.12}]]],
  				dayNames: [  [[#{common.datepicker.weekday.1}]],
  				          	[[#{common.datepicker.weekday.2}]],
  				          	[[#{common.datepicker.weekday.3}]],
  				        	[[#{common.datepicker.weekday.4}]],
  				       		[[#{common.datepicker.weekday.5}]],
  				      		[[#{common.datepicker.weekday.6}]],
  				     		[[#{common.datepicker.weekday.7}]]],
  				dayNamesShort: [  [[#{common.datepicker.weekday.1}]],
  	 				          	[[#{common.datepicker.weekday.2}]],
  	 				          	[[#{common.datepicker.weekday.3}]],
  	 				        	[[#{common.datepicker.weekday.4}]],
  	 				       		[[#{common.datepicker.weekday.5}]],
  	 				      		[[#{common.datepicker.weekday.6}]],
  	 				     		[[#{common.datepicker.weekday.7}]]],
  				dayNamesMin: [  [[#{common.datepicker.weekday.1}]],
  	 				          	[[#{common.datepicker.weekday.2}]],
  	 				          	[[#{common.datepicker.weekday.3}]],
  	 				        	[[#{common.datepicker.weekday.4}]],
  	 				       		[[#{common.datepicker.weekday.5}]],
  	 				      		[[#{common.datepicker.weekday.6}]],
  	 				     		[[#{common.datepicker.weekday.7}]]],
				yearSuffix:[[#{common.datepicker.year}]],
  				weekHeader: 'Wk',
  				dateFormat: 'yy-mm-dd',
  				currentText: [[#{common.datepicker.today}]],
  				showMonthAfterYear: true

  		});
  	});
  }
  
  $(function(){
	  $(document).on("click", ".pop-close", function(){
		  gfCloseDivPop();
		});
  });
  /**
   * @작성일   : 2016. 9. 19.
   * @작성자   : sulmin
   * @Method 설명 : Action 페이지 툴팁 처리
   * @returns
   */
   $(function(){
	   var obj = $('#divList');
	   if(obj != null){
		   obj.bind('DOMSubtreeModified',fnActivateTooltip);
   		}
		 //좌측 메뉴 이벤트 매핑
		gfInitLeftMenuEvent();
	
		if(! gfIsEmpty([[${curr_menu_id}]])){
			activeLeftNavi([[${curr_menu_id}]]);
		} else {
			activeLeftNavi("");
		}

   });
   function gfCloseDivPop(){
		$(".popWrap").hide();
		$("body").css({
			"overflow-x": "auto",
			"overflow-y": "scroll"
		});
		$("body, header").css("margin-right", "");
	}
   function fnActivateTooltip(){
	   $('#divList').find('.tooltip_txt').mouseenter(function(e){

			var pos = $(this).position();
			$('.tooltip_box').remove();
			$('body').append('<div class="tooltip_box">'+$(this).text()+'</div>');
			var oLeft = pos.left + 50;
			var oTop = pos.top - $('.tooltip_box').height() - 40;
			$('.tooltip_box').css({left:oLeft,top:oTop});
		});
	   $('#divList').find('.tooltip_txt').mouseleave(function(e){
    	  $('.tooltip_box').remove();
		});
   }
   /**
    * @작성일   : 2016. 9. 23.
    * @작성자   : sulmin
    * @Method 설명 : ajax를 이용하여 서버 호출
    * @param sAction : 액션명('IoT/get')
    * @param sParam :파라미터(a=1&b=3)
    * @param fnCallback : 콜백함수(function reference)
    * @param sMethod : 호출 메쏘드(GET/POST 등)
    */
   function gfCallServer(sAction,sParam,fnCallback,sMethod){

   	if(sMethod == undefined){
   		sMethod = "GET";
   	}

   	$.ajax({
   	   url: sAction + ".json",
   	   type: sMethod,
   	   data: sParam ,
   	   dataType : "json",
   	   success: function(data){
   		   fnCallback(data);
   	   },
   	   error: function(data, status, err) {
   		   /* 서버와 통신중 오류가 발생하였습니다. */
   		if(data.status != 0){
   	  		gfMsgBox([[#{common.ajax.errorMsg}]]);
   	  	}
   	   }
   	});
   }
    
    /**
     * @작성일   : 2016. 9. 28.
     * @작성자   : 김대형
     * @Method 설명 : ajax를 이용하여 폼을 서버로 전송하여 서버 호출
     * @param sAction : 액션명('IoT/get')
     * @param oForm : 서버로 전송할 form 객체
     * @param fnCallback : 콜백함수(function reference)
     * @param sMethod : 호출 메쏘드(GET/POST 등)
     */
    function gfCallWithForm(sAction,oForm,fnCallback,sMethod){

    	if(sMethod == undefined){
    		sMethod = "POST";
    	}

    	$.ajax({
    	   url: sAction + ".json",
    	   type: sMethod,
    	   data: oForm.serialize() ,
    	   dataType : "json",
    	   success: function(data){
    		   fnCallback(data);
    	   },
    	   error: function(data, status, err) {
    		/* 서버와 통신중 오류가 발생하였습니다. */
    		if(data.status != 0){
    	  		gfMsgBox([[#{common.ajax.errorMsg}]]);
    	  	}
    	   }
    	});
    }    
    
  /**
   * @작성일   : 2016. 8. 9.
   * @작성자   : sulmin
   * @Method 설명 : ajax를 이용하여 파라미터를 이용하여 서버 호출
   * @param sAction : 액션명('portal/get')
   * @param sParam : 서버로 전송할 파라미터
   * @param fnCallback : 콜백함수(function reference)
   * @param sMethod : 호출 메쏘드(GET/POST 등)
   */
  function gfAjaxCallServer(sAction,sParam,fnCallback,sMethod){

  	if(sMethod == undefined){
  		sMethod = "POST";
  	}

  	$.ajax({
  	   url: sAction + ".ajax",
  	   type: sMethod,
  	   data: sParam ,
  	   success: function(data){
  		   fnCallback(data);
  	   },
  	   error: function(data, status, err) {
  		  /* 서버와 통신중 오류가 발생하였습니다. */
  		 if(data.status != 0){
   		 	gfMsgBox([[#{common.ajax.errorMsg}]]);
   		 }
  	   }
  	});
  }
   /**
    * @작성일   : 2016. 8. 9.
    * @작성자   : sulmin
    * @Method 설명 : ajax를 이용하여 폼을 서버로 전송하여 서버 호출
    * @param sAction : 액션명('portal/get')
    * @param oForm : 서버로 전송할 form 객체
    * @param fnCallback : 콜백함수(function reference)
    * @param sMethod : 호출 메쏘드(GET/POST 등)
    * @param bCheckDouble : 동일 리소스 호출방지 적용여부(default : true)
    */
   function gfAjaxCallWithForm(sAction,oForm,fnCallback,sMethod, bCheckDouble){

   	if(sMethod == undefined){
   		sMethod = "POST";
   	}
   	if(bCheckDouble == undefined){
   		bCheckDouble = true;
   	}
 	
   	$.ajax({
   	   url: sAction + ".ajax",
   	   type: sMethod,
   	   data: oForm.serialize() ,
   	   success: function(data){
   		   fnCallback(data);
   	   },
   	   error: function(data, status, err) {
   		  /* 서버와 통신중 오류가 발생하였습니다. */
   		  if(data.status != 0){
   		 	gfMsgBox([[#{common.ajax.errorMsg}]]);
   		  }
   	   }
   	});
   }
/**
 * @작성일   : 2016. 8. 8.
 * @작성자   : sulmin
 * @Method 설명 : 메뉴 이동 
 * @param sMenuId
 * @param sBaseID
 */
 function gfGoMenuPage(sMenuAction, sBaseCode){
	 gfGotoMenuPage("", sMenuAction, sBaseCode);
 }
 function gfGotoMenuPage(sMenuId, sMenuAction, sBaseCode){
	if(gfIsEmpty(sMenuAction)){
		gfShowMsgError();
		return;
	}
	var expUrl = /^(http|https):\/\//i;
	var bIsURL = expUrl.test(sMenuAction);
	if(bIsURL){
		gfOpenUrl(sMenuAction);
		return;
	}
	if (sBaseCode == undefined) 	sBaseCode = "";
	
 	var sEnctype = "application/x-www-form-urlencoded";
 	
 	$('#menuId').val(sMenuId);
 	$('#menuBaseCode').val(sBaseCode);
 	$('#menuNowPage').val("1");
 	
 	/*
	var sStartDate = gfGetFirstDay();
 	var sEndDate = gfGetToday();
  	$('#menuStartDate').val(sStartDate);
 	$('#menuEndDate').val(sEndDate);
 	*/

 	$("#frmMenu").attr("target","_self");
 	$("#frmMenu").attr("method","post");
 	$("#frmMenu").attr("action",sMenuAction);
 	$("#frmMenu").attr("enctype",sEnctype);
 	$("#frmMenu").submit();

 }
/**
 * @작성일   : 2016. 8. 9.
 * @작성자   : sulmin
 * @Method 설명 :TAB으로 외부 시스템 화면 오픈
 * @param sURL : 웹페이지 주소
 * @param sMethod : 호출 Method(POST,GET,PUT,DELETE)
 */
function gfOpenUrl(sURL){
	if(sURL == undefined || gfIsEmpty(sURL)){
		gfMsgbox([[#{common.blank.URI}]]);
		return;
	}
	if(sURL.indexOf("http://") == -1 && sURL.indexOf("https://") == -1){
		sURL = "http://" + sURL;
	}
	var sEnctype = "application/x-www-form-urlencoded";
	$("#frmMenu").attr("target","_blank");
 	$("#frmMenu").attr("method","GET");
 	$("#frmMenu").attr("action",sURL);
 	$("#frmMenu").attr("enctype",sEnctype);
 	$("#frmMenu").submit();
}
/**
 * @작성일   : 2013. 5. 23.
 * @작성자   : sulmin
 * @Method 설명 : 레이어 팝업으로 메세지 표시처리
 * @param sMessage : 표시할 메세지
 * @param sTitle : 팝업 타이틀 (NOTIFICATION/CONFIRM/SUCCESS/ERROR)
 * @param bButtonCancel : 취소 버튼 표시 여부
 * @param fnMsgCallback : 콜백 함수
 */
 /**********************************************************************/
 /* 메세지가 표시되지 않을 때에는 layerMsgFragment 임포트 여부체크              */
 /* <div id="layerMsg" th:include="/layout/baseLayout :: layerMsgFragment"></div>*/
 /**********************************************************************/
function gfMsgBox(sMessage,sTitle,bButtonCancel,fnMsgCallback){
	switch(sTitle){
		case 'ERROR':
			$("#pop_icon").attr('class','state_icon nth_02');
			break;
		default:
			$("#pop_icon").attr('class','state_icon nth_01');
	}
	
	if(sTitle == undefined || gfIsEmpty(sTitle)){
		$("#pop_title").html('NOTIFICATION');
	} else {
		$("#pop_title").html(sTitle);
	}
	
	//버튼이벤트 처리
	$('#btnPopOk').bind("click",function(){
		gfCloseMsgWithCall(fnMsgCallback);
		closePopup(this);
	});

	if(bButtonCancel == true){
		$('#btnPopCancel').show();
	} else {
		$('#btnPopCancel').hide();
	}
	
	//메세지 표시
	$('#massage_area').html(sMessage);
	
	//팝업 표시
	openPopup('#popup_01');

	$('#btnPopOk').focus();

}

function gfClosePopup(button){
	$('#btnPopOk').unbind("click");
	closePopup(button);
}

/**
 * @작성일   : 2016. 8. 9.
 * @작성자   : sulmin
 * @Method 설명 :메세지 팝업 닫기
 */
function gfCloseMsg(){
	$('#btnPopOk').unbind("click");
	$('#btnPopCancel').unbind("click");
	$("#layer_msg").fadeOut(100);
} 

/*
 * @작성일   : 2016. 8. 9.
 * @작성자   : sulmin
 * 설    명 : 메세지 팝업 닫으면서 콜백함수 호출
 */
function gfCloseMsgWithCall(fnMsgCallback){
	/*
	$("#layer_msg").hide();
	$('#btnPopCancel').unbind("click");
	*/
	$('#btnPopOk').unbind("click");
	if(fnMsgCallback != undefined){
		fnMsgCallback();
	}
}

/**
 * @작성일   : 2013. 5. 23.
 * @작성자   : sulmin
 * @Method 설명 : 액션 및 크기가 지정된 레이어 팝업 호출(div가 아닌 html파일 호출시 사용)
 * @param sAction : 호출할 액션
 * @param sMethod : 호출 메쏘드(GET/POST 등)
 * @param iWidth : 팝업 넓이
 * @param iHeight : 팝업 높이
 */
function gfOpenLayerPop(sAction,sMethod,iWidth,iHeight){
	frmMenu.target = "layer_iframe";
	frmMenu.action = sAction;
	frmMenu.method = sMethod;
	frmMenu.enctype = "application/x-www-form-urlencoded";

	//팝업 표시
	var oLayer = $("#layer_pop");
	oLayer.parents(".view_poparea").show();
	oLayer.html("<iframe id='layer_iframe' name='layer_iframe' width=" + iWidth + " height=" + iHeight + " style='margin:0;frame-border:0;border:0;' ></iframe>");

	var left = ( $(window).scrollLeft() + ($(window).width() - iWidth) / 2 ) ;
	//var top = ( $(window).scrollTop() + ($(window).height() - iHeight) / 2 ) ;
	var top = ( ($(window).height() - iHeight) / 2 ) ;

	oLayer.css({'left':left,'top':top, 'position':'absolute'});

	frmMenu.submit();

	oLayer.fadeIn(100);
}

/**
 * @작성일   : 2013. 5. 23.
 * @작성자   : sulmin
 * @Method 설명 :레이어 팝업 리사이즈(초기 오픈시,조회 후에 호출됨)
 */
function gfResizeLayer(){
	var oLayer = $(parent.document).find('#layer_pop');
	var oframe = $(parent.document).find('#layer_iframe');
	var iHeight = $("#pop2").height() + 10;
	if(iHeight > 850){
		iHeight = 850;
	}

	oLayer.height(iHeight );
	oframe.height(iHeight );
 	if (oLayer.outerHeight() < iHeight) {
		oLayer.css({"top": "100px","margin-top": 0});
	}else{
		oLayer.css({"top": "100px","margin-top": 0 });

		oLayer.css({"position": "absolute", "height" : iHeight + "px"});
	}
 	oLayer.fadeIn(100);
}
/**
 * @작성일   : 2016. 8. 8.
 * @작성자   : sulmin
 * @Method 설명 : 로그인 상태인지 체크
 * @returns
 */
function gfCheckLogin(){
	  if(gfIsEmpty($("#loginUserId").val()))  {
		  return false;
	  } else {
		  return true;
	  }
}

/**
 * @작성일   : 2016. 8. 8.
 * @작성자   : sulmin
 * @Method 설명 : 로그인 사용자의 관리자 여부 체크
 * @returns
 */
function gfAdminYN(){
	  if(gfIsEmpty($("#loginAdmin").val()))  {
		  return "N";
	  } else {
		  return $("#loginAdmin").val();
	  }
}
/**
 * @작성일   : 2016. 10. 11.
 * @작성자   : sulmin
 * @Method 설명 : 로그아웃 처리
 * @returns
 */
function gfLogout(){
	//gfMsgBox([[#{portal.main.header.logoutMsg}]],"",true,gfLogoutExec)
	gfLogoutExec();
}
function gfLogoutExec(){
	gfGoMenuPage('/portal/main/logout')
}
/**
 * @작성일   : 2016. 10. 11.
 * @작성자   : sulmin
 * @Method 설명 : 로그인 화면으로 이동
 * @returns
 */
function gfLogin(){
	 gfGoMenuPage('/portal/main/login')
}
function gfRequestLogin(){
	
	 /* 로그인 후 사용가능합니다. */
	gfMsgBox([[#{portal.main.header.requestLogin}]]);
}
/**
 * @작성일   : 2016. 8. 8.
 * @작성자   : sulmin
 * @Method 설명 : Date Type 을 날짜 형식에 맞춰 String Type으로 변환
 * @param delim : 날짜 형식 구분자("-")
 * @returns
 */
Date.prototype.toStdDate = function(delim) {
	if (delim == undefined) delim = gsStdDateDelim;
	var year = this.getFullYear().toString();
	var month = this.getMonth() + 1;
	var day = this.getDate();
	month = (month < 10 ? "0" : "") + month;
	day = (day < 10 ? "0" : "") + day;
	return year + delim + month + delim + day;
};

/**
 * @작성일   : 2016. 8. 8.
 * @작성자   : sulmin
 * @Method 설명 : Date Type 을 날짜 + 시간 형식에 맞춰 String Type으로 변환
 * @param delim : 날짜 형식 구분자("-")
 * @returns {String}
 */
Date.prototype.toStdDateTime = function(delim) {
	if (delim == undefined) delim = gsStdDateDelim;
	var year = this.getFullYear().toString();
	var month = this.getMonth() + 1;
	var day = this.getDate();
	var hour = this.getHours().toString();
	var minute = this.getMinutes().toString();
	month = (month < 10 ? "0" : "") + month;
	day = (day < 10 ? "0" : "") + day;
	hour = (hour < 10 ? "0" : "") + hour;
	minute = (minute < 10 ? "0" : "") + minute;
	return year + delim + month + delim + day + " " + hour + ":" + minute;
};
/**
 * @작성일   : 2016. 8. 8.
 * @작성자   : sulmin
 * @Method 설명 : trim을 지원하지 않는 브라우저용 trim 함수 추가
 */
if(typeof String.prototype.trim !== 'function') {
	  String.prototype.trim = function() {
	    return this.replace(/^\s+|\s+$/g, '');
	  };
}
/**
 * @작성일   : 2016. 8. 8.
 * @작성자   : sulmin
 * @Method 설명 : String Type 을 Date Type 으로 변환
 * @param sDate
 * @returns {Date}
 */
function gfToDate(sDate){
	var aToDate = sDate.split(gsStdDateDelim);
	var dtToDate = new Date (aToDate[0],aToDate[1] - 1,aToDate[2],0,0,0);
	return dtToDate;
}
/**
 * @작성일   : 2017. 6. 19.
 * @작성자   : ymseong
 * @Method 설명 : String Type 을 Date Type 으로 변환 (년월일 시분초)
 * @param sDate, sHour, sMin, sSec
 * @returns {Date}
 */ 
function gfToDateTime(sDate, sHour, sMin, sSec){
		var aToDate = sDate.split(gsStdDateDelim);
		
		if (sHour == undefined) sHour = 0;
		if (sMin == undefined) sMin = 0;
		if (sSec == undefined) sSec = 0;
		
		var dtToDate = new Date (aToDate[0],aToDate[1] - 1,aToDate[2],sHour,sMin,sSec);
		return dtToDate;
	}
/**
 * @작성일   : 2016. 8. 8.
 * @작성자   : sulmin
 * @Method 설명 : Date 에 날짜 더하기
 * @param dtDate,iDay
 * @returns {Date}
 */
function gfAddDateDays(dtDate,iDay){
		var lToDate = dtDate.getTime();
	    	var dtFromDate = new Date(lToDate + (iDay * 1440 * 60000));
	 	return dtFromDate;
}
/**
 * @작성일   : 2016. 8. 8.
 * @작성자   : sulmin
 * @Method 설명 : String 날짜에 에 날짜 더하기
 * @param sDate,iDay
 * @returns {String}
 */
function gfAddDays(sDate,iDay){
		var dtSrcDate = gfToDate(sDate);
		var lSrcDate = dtSrcDate.getTime();
	    var dtDestDate = new Date(lSrcDate + (iDay * 1440 * 60000));
	 	return dtDestDate.toStdDate() ;
}
/**
 * @작성일   : 2016. 8. 8.
 * @작성자   : sulmin
 * @Method 설명 : 문자열이 날짜 형식인지 체크
 * @param sDate
 * @returns
 */
function gfIsDate(sDate){
	var dtRegex = new RegExp(/\b\d{4}[\/-]\d{2}[\/-]\d{2}\b/);
	return dtRegex.test(sDate);
}

/**
 * @작성일   : 2016. 8. 8.
 * @작성자   : sulmin
 * @Method 설명 : 문자열이 비어있는지 검사
 * @param s
 * @returns {Boolean}
 */
function gfIsEmpty(s) {
	if(s == null || s.trim() == ''){
		return true;
	} else {
		return false;
	}
}

/**
 * @작성일   : 2016. 8. 8.
 * @작성자   : sulmin
 * @Method 설명 : 날짜 조회조건 달력 설정
 */
function gfInitDateCond(){
	 if($('#startDate') != null){
		 $('#startDate').datepicker();
	 }
	 if($('#endDate') != null){
		 $('#endDate').datepicker();
	 }
}

/**
 * @작성일   : 2016. 8. 8.
 * @작성자   : sulmin
 * @Method 설명 : 현재날짜 조회
 * @returns
 */
function gfGetToday(){
	var today = new Date();
	return today.toStdDate();
}

/**
 * @작성일   : 2016. 8. 8.
 * @작성자   : sulmin
 * @Method 설명 : 지난 달의 첫 날짜 조회 - 조회조건 초기화용
 * @param delim
 * @returns {String}
 */
function gfGetFirstDay(delim){

	if (delim == undefined) delim = gsStdDateDelim;
	var today = new Date();
	var year = today.getFullYear().toString();
	var month = today.getMonth() + 1;
	month -= 3;
	if(month <= 0){
		year = year - 1;
		month += 12;
	}
	month = (month < 10 ? "0" : "") + month;
	return year + delim + month + delim + "01";
}



/**
 * @작성일   : 2016. 8. 8.
 * @작성자   : sulmin
 * @Method 설명 : 서버 오류 발생시 메세지 처리(각화면 오픈시 호출)
 * @returns {Boolean}
 */
function gfShowError(){
	if(!gfIsEmpty($('#errorCode').val()) && $('#errorCode').val() != "200"){
		gfMsgBox($('#errorMsg').val());
		$('#errorCode').val("");
		$('#errorMsg').val("");
		return true;
	} else {
		return false;
	}
}
/**
 * @작성일   : 2016. 8. 8.
 * @작성자   : sulmin
 * @Method 설명 : 서버 오류 발생시 메세지 처리 후 Callback 함수 호출
 * @returns {Boolean}
 */
function gfShowErrorWithCallBack(fnCallBack){

	if(!gfIsEmpty($('#errorCode').val()) && $('#errorCode').val() != "200"){ 		
		gfMsgBox($('#errorMsg').val(),"",false,fnCallBack);
		$('#errorCode').val("");
		$('#errorMsg').val("");
		return true;
	} else {
		return false;
	}
}

/**
 * @작성일   : 2016. 8. 8.
 * @작성자   : sulmin
 * @Method 설명 : 메인화면으로 이동
 */
function gfMain(){
	$("#frmMenu").attr("target","_self");
	$("#frmMenu").attr("method","get");
	$("#frmMenu").attr("action","/");
	$("#frmMenu").attr("enctype","application/x-www-form-urlencoded");
	$("#frmMenu").submit();
}

/**
 * @작성일   : 2016. 8. 8.
 * @작성자   : sulmin
 * @Method 설명 :메인화면으로 이동
 */
function gfMainWithParam(sReturnFunc){
	 $("#menuReturnFunc").val(sReturnFunc);
		$("#frmMenu").attr("target","_self");
		$("#frmMenu").attr("method","get");
		$("#frmMenu").attr("action","/");
		$("#frmMenu").attr("enctype","application/x-www-form-urlencoded");
		$("#frmMenu").submit();
}

/**
 * @작성일   : 2016. 8. 8.
 * @작성자   : sulmin
 * @Method 설명 : 특수문자 치환 - HTML 형식으로 데이터 표시 시 호출
 * @param sContent
 * @returns
 */
function gfReplaceSecure(sContent){
	if(gfIsEmpty(sContent)){
		return "";
	}
	sContent = sContent.replace(/&/gi,'&amp;').replace(/</gi,'&lt;').replace(/>/gi,'&gt;').replace(/\"/gi,'&quot;').replace(/'/gi,'&quot;').replace(/\n/gi,'</br>');
	return sContent;
}
function gfReplaceSecureObj(sObjName,sContent){
		
		sContent = gfReplaceSecure(sContent);
		$("#" + sObjName).html(sContent);

}

/**
 * @작성일   : 2016. 8. 8.
 * @작성자   : sulmin
 * @Method 설명 : 입력 필드의 값 유효성 체크
 * @param str
 * @param condition :
 * 			1 = 숫자만 사용
 * 			2 = 한글만 사용
 * 			3 = 영문, 숫자 사용
 * 			4 = 영문, 숫자, 한글 사용
 * 			5 = 영문, 숫자, 특수문자 사용
 * 			6 = 영문, 숫자, '.' 사용
 *  		7 = 영문, 숫자, 한글, '.' , 공백 사용
 *			8 = 순자, '.' 만 사용 
 */
function gfValidateChar(str, condition)
{
	var objPattern = /^/;

	switch(condition){
		case(1) :
			objPattern = /^[0-9]+$/;
			break;
		case(2) :
			objPattern = /^[가-힣]+$/;
			break;
		case(3) :
			objPattern = /^[a-zA-Z0-9]+$/;
			break;
		case(4) :
			objPattern = /^[가-힣a-zA-Z0-9]+$/;
			break;
		case(5) :
			objPattern = /^[a-zA-Z0-9\`\~\!\@\#\$\%\^\&\*\(\)\-\=\_\+\{\[\}\]\|\\\:\;\"\'\<\,\>\.\?\/]+$/;
			break;
		case(6) :
			objPattern = /^[a-zA-Z0-9\.]+$/;
			break;
		case(7) :
			objPattern = /^[가-힣a-zA-Z0-9\.\s]+$/;
			break;
		case(8) :
			objPattern = /^[0-9\.]+$/;
			break;
		}

	return objPattern.test(str);
}

/**
 * @작성일   : 2016. 8. 8.
 * @작성자   : sulmin
 * @Method 설명 : String byte 체크
 * @param str
 * @returns
 */
function gfGetByte(str) {
	    var mByte = 0;

	    for (var i=0; i<str.length; i++) {
	        var ch1 = str.substring(i, i+1);
	        var ch2 = str.substring(i, i+2);
	        var en1 = escape(ch1);
	        var en2 = escape(ch2);
	        if (en2 == "%0D%0A") {
	            i++;
	            mByte++;

	        } else {
	            if (en1.length <= 4) {
	                mByte++;
	            } else {
	                mByte += 2;
	            }
	        }
	    }

	    return mByte;
	}

/**
 * @작성일   : 2016. 8. 8.
 * @작성자   : sulmin
 * @Method 설명 : ip형식 검사
 * @param IPvalue
 * @returns
 */
function gfIsValidIP(IPvalue) {
	var ipPattern = /^(\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})$/;
	var ipArray = IPvalue.match(ipPattern);

	if (IPvalue == "0.0.0.0" || IPvalue == "255.255.255.255") {
		return false;
	}

	if (ipArray == null) {
	   return false;
	} else {
		for (var i = 0; i < 5; i++) {
	    	thisSegment = ipArray[i];
	    	if (thisSegment > 255) {
	     		return false;
	    	}
	    	if ((i == 0) && (thisSegment > 255)) {
	     		return false;
	    	}
		}
	}
	return true;
}

/**
 * @작성일   : 2016. 8. 8.
 * @작성자   : sulmin
 * @Method 설명 : URI검사
 * @param urls
 * @returns
 */
function gfIsValidUrl(strUrl) {
	 var pattern = new RegExp('^(http(s?):\\/\\/)?'+ // 프로토콜

	  '((([a-z\d](([a-z\d-]*[a-z\d])|([ㄱ-힣]))*)\.)+[a-z]{2,}|'+ // 도메인명
	
	  '((\\d{1,3}\\.){3}\\d{1,3}))'+ // 아이피
	
	  '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // 포트번호
	
	  '(\\?[;&a-z\\d%_.~+=-]*)?'+ // 쿼리스트링
	
	  '(\\#[-a-z\\d_]*)?$','i'); // 해쉬테그들

 if(!pattern.test(strUrl)) {

   return false;

 } else {

   return true;

 }
}

//BASE64
var keyStr = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
/**
 * @작성일   : 2016. 8. 31.
 * @작성자   : sulmin
 * @Method 설명 :암호화 처리
 * @param str
 * @returns {String}
 */
function gfEncode(str) {

	var output = "";
	var chr1, chr2, chr3, enc1, enc2, enc3, enc4;
	var i = 0;

	while (i < str.length) {

		chr1 = str.charCodeAt(i++);
		chr2 = str.charCodeAt(i++);
		chr3 = str.charCodeAt(i++);

		enc1 = chr1 >> 2;
		enc2 = ((chr1 & 3) << 4) | (chr2 >> 4);
		enc3 = ((chr2 & 15) << 2) | (chr3 >> 6);
		enc4 = chr3 & 63;

		if (isNaN(chr2)) {
			enc3 = enc4 = 64;
		} else if (isNaN(chr3)) {
			enc4 = 64;
		}

		output = output +
		this.keyStr.charAt(enc1) + this.keyStr.charAt(enc2) +
		this.keyStr.charAt(enc3) + this.keyStr.charAt(enc4);

	}

	return output;

}

/**
 * @작성일   : 2016. 8. 31.
 * @작성자   : sulmin
 * @Method 설명 :복호화 처리
 * @param str
 * @returns {String}
 */
function gfDecode(str) {

	var output = "";
	var chr1, chr2, chr3;
	var enc1, enc2, enc3, enc4;
	var i = 0;

	str = str.replace(/[^A-Za-z0-9\+\/\=]/g, "");

		while (i < str.length) {

		enc1 = this.keyStr.indexOf(str.charAt(i++));
		enc2 = this.keyStr.indexOf(str.charAt(i++));
		enc3 = this.keyStr.indexOf(str.charAt(i++));
		enc4 = this.keyStr.indexOf(str.charAt(i++));

		chr1 = (enc1 << 2) | (enc2 >> 4);
		chr2 = ((enc2 & 15) << 4) | (enc3 >> 2);
		chr3 = ((enc3 & 3) << 6) | enc4;

		output = output + String.fromCharCode(chr1);

		if (enc3 != 64) output = output + String.fromCharCode(chr2);
		if (enc4 != 64) output = output + String.fromCharCode(chr3);

		}

	return output;
}
 function gfKeyboardSearchInit(id, fnCb) {

	$('#'+id).keypress(function(e) {
		e.which = e.which | e.keyCode;
		if (e.which == 13) {
			return false;
		}
	});

	$('#'+id).keydown(function(e) {
		e.which = e.which | e.keyCode;
		if (e.which == 13) {
			fnCb();
		}
	});
 }
 /**
  * @작성일   : 2016. 9. 1.
  * @작성자   : sulmin
  * @Method 설명 : 날짜조건 셋팅
  * @returns void
  */
function gfSetPeriod(sSearchKind){
	   if(gfIsEmpty(sSearchKind)){
		   return;
	   }
	   var sToday = gfGetToday();
	   switch(sSearchKind.toLowerCase()){
			case "oneday" ://당일
				$("#startDate").val(sToday);
				$("#endDate").val(sToday);
          		break;
			case "oneweek" :	//일주일
				$("#endDate").val(sToday);
				$("#startDate").val(gfAddDays(sToday,-6));
          		break;
			case "onemonth" ://일개월
				$("#endDate").val(sToday);
				$("#startDate").val(gfAddDays(sToday,-30));
          		break;
			case "allday" ://지정 안함
       	    	$("#startDate").val("");
				$("#endDate").val("");
         		break;
			default :
          		break;
		}
	   if($("#condPeriod") != undefined){
	   		$("#condPeriod").val(sSearchKind);
	   }
}
/**
 * @작성일   : 2013. 5. 23.
 * @작성자   : sulmin
 * @Method 설명 : 날짜형식 조회 조건 검사
 * @returns {Boolean}
 */
function gfCheckDateCond(){

	if(! gfIsEmpty($('#startDate').val()) && !gfIsDate($('#startDate').val())){

		gfMsgBox([[#{common.datepicker.startdate.format}]],"",false,function(){
			$('#startDate').select();
		});
		return false;
	}

	if(! gfIsEmpty($('#endDate').val()) && !gfIsDate($('#endDate').val())){

		gfMsgBox([[#{common.datepicker.enddate.format}]],"",false,function(){
			$('#endDate').select();
		});
		return false;
	}
	if(! gfIsEmpty($('#startDate').val()) && ! gfIsEmpty($('#endDate').val())
			&& (gfToDate($('#startDate').val()) > gfToDate($('#endDate').val()) )
		){
		gfMsgBox([[#{common.datepicker.startdate.large}]]);
		return false;
	}
	return true;
}
 /**
  * @작성일   : 2016. 9. 13.
  * @작성자   : sulmin
  * @Method 설명 : 이미지파일 체크
  * @returns {Boolean}
  * input tag에 추가 - accept="image/*"
  */
 function gfCheckImageFile(oFile){

		if(typeof(oFile.files) != "undefined" && oFile.files != null){
			var oUploadFile = oFile.files[0];
		 	if(oUploadFile == null) {
		 		oFile.value = "";
		 		return;
		 	}

		 	if(oUploadFile.type.indexOf("image") == -1){
		 		gfMsgBox([[#{common.msg.imagefile}]]);
		 		oFile.files[0] = null;
		 		oFile.value = "";
		 		return;
		 	};
		} else {
			//IE 등 옵션처리
			var fileFullName = oFile.value;
			if(fileFullName == ""){
				oText.value = "";
			 	return;
			 }
			var availableExt = "(gif, jpg, jpeg, jpe, png)";
			 var availableExtRegex = /.(gif|jpg|jpeg|jpe|png)$/i;

			 if(!fileFullName.toLowerCase().match(availableExtRegex)){
				var sMsg = [[#{common.msg.imagefile}]] ;
				sMsg = sMsg + "<BR/>" + availableExt;
				gfMsgBox(sMsg);
				oFile.select();
				document.selection.clear();
				oText.value = "";
				return;
			 }
			
		 }

}
 /**
  * @작성일   : 2016. 9. 13.
  * @작성자   : sulmin
  * @Method 설명 : 엑셀파일 체크
  * @returns {Boolean}
  * input tag에 추가 - accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
  */
 function gfCheckExcelFile(oFile){

		if(typeof(oFile.files) != "undefined" && oFile.files != null && oFile.files[0].type != ""){
			var oUploadFile = oFile.files[0];
		 	if(oUploadFile == null) {
		 		oFile.value = "";
		 		return;
		 	}

		 	if(oUploadFile.type.indexOf("ms-excel") == -1 && oUploadFile.type.indexOf("spreadsheetml") == -1){
		 		gfMsgBox([[#{common.msg.excelfile}]]);
		 		oFile.files[0] = null;
		 		oFile.value = "";
		 		return;
		 	};
		} else {
			//IE 등 옵션처리
			var fileFullName = oFile.value;
			if(fileFullName == ""){
				oText.value = "";
			 	return;
			 }
			 var availableExt = "(xls, xlsx)";
			 var availableExtRegex = /.(xls|xlsx)$/i;
			 
			 if(!fileFullName.toLowerCase().match(availableExtRegex)){
				var sMsg = [[#{common.msg.excelfile}]] ;
				sMsg = sMsg + "<BR/>" + availableExt;
				gfMsgBox(sMsg);
				oFile.select();
				//document.selection.clear();
				//oText.value = "";
				return;
			 }
		  }

}
  /**
   * @작성일   : 2016. 9. 28.
   * @작성자   : sulmin
   * @Method 설명 : 로그인한 사용자 아이디 조회
   * @returns
   */
  function gfGetUserId(){
  	  return $("#loginUserId").val();
  }  
  /**
   * @작성일   : 2016. 9. 28.
   * @작성자   : sulmin
   * @Method 설명 : 로그인한 사용자명 조회
   * @returns
   */
  function gfGetUserName(){
	  return $("#loginUserName").val();
  }  
  
  function gfToggleLnb(obj){
	  obj.toggleClass("on");
  }
  
  function activeLeftNavi( sMeunuCode ){
		var menu_v = $('ul.lnb_wrap');
		var allSubMenu = menu_v.find('>li');
		var allLastMenu = menu_v.find('>li>ul>li');
		
		allSubMenu.removeClass('on');
		allLastMenu.removeClass('on');
		$("li[id='"+sMeunuCode+"']").addClass("on");
		
		menu_v.find('>li>ul>li[class=on]').parents('li').attr('class','on');
		menu_v.find('>li[class=on]').find('>ul').css('display','block');
		
	}
  /**
   * @작성일   : 2013. 5. 23.
   * @작성자   : sulmin
   * @Method 설명 : 좌측메뉴 이벤트 매핑
   */
  function gfInitLeftMenuEvent(){
	// Side Menu new
		var menu_v = $('ul.lnb_wrap');
		var sItem = menu_v.find('>li');
		var ssItem = menu_v.find('>li>ul>li');
		var lastEvent = null;

		sItem.find('>ul').css('display','none');
		menu_v.find('>li>ul>li[class=on]').parents('li').attr('class','on');
		menu_v.find('>li[class=on]').find('>ul').css('display','block');

		function menu_vToggle(event){
			var t = $(this);

			if (this == lastEvent) return false;
			lastEvent = this;
			setTimeout(function(){ lastEvent=null }, 200);

			if (t.parents('p').next('ul').is(':hidden')) {
				t.parents('p').next('ul').slideDown(100);
			} else {
				t.parents('p').next('ul').slideUp(100);
			}

		}
		sItem.find('>p>a').click(menu_vToggle).focus(menu_vToggle);
  }
	
  function gfPubPage(){
	  	$("#frmMenu").attr("target","_self");
	 	$("#frmMenu").attr("method","get");
	 	$("#frmMenu").attr("action","/design/index");
	 	$("#frmMenu").submit();
  }
  
  function gfChangePagePerCount(select){
	  $("#countPerPage").val(select.value);
	  goPage('1');
  }
  
  function gfRefresh(){
	 gfGoMenuPage($(location).attr('pathname'));
  }
  
  /**
   * @작성일   : 2017. 4. 20.
   * @작성자   : ymseong
   * @Method 설명 : event 발생한 node에 따라 blocking 할 것인지 확인
   */
  function gfIsBlockEvent(event){
	var $target = $(event.target);
	var $nodeName = event.target.nodeName;
	
	//event 발생한 node가 button이거나 input(check, radio, text)이면 blocking node 임
	if($nodeName == 'BUTTON' || $nodeName == 'INPUT' || $nodeName == 'LABEL'){
		return true;
	}
	return false;
  }
  
  function gfAddComma(x) {
	    x = x.toString();
	    var pattern = /(-?\d+)(\d{3})/;
	    while (pattern.test(x))
	        x = x.replace(pattern, "$1,$2");
	    return x;
  }
  
/**
 * @작성일   : 2017. 5. 26.
 * @작성자   : ymseong
 * @Method 설명 : Email 형식 체크
 */  
function gfEmailChk(sEmail){
	var regEmail = /([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
	  
	if(!regEmail.test(sEmail)) {	//이메일 형식 오류
		return false;
	} 
	else {		//이메일 형식임
		return true;

	}
}
 
/**
 * @작성일   : 2017. 9. 11.
 * @작성자   : 김동언
 * @Method 설명 : Float 데이터 형식 체크
 */  
function gfIsFloat(val) {
  var floatRegex = /^-?\d+(?:[.,]\d*?)?$/;
  if (!floatRegex.test(val))
      return false;

  val = parseFloat(val);
  if (isNaN(val))
      return false;
  return true;
}

function gfLpad(n, digits) {
	var zero = '';
	n = n.toString();

	if (n.length < digits) {
		for (i = 0; i < digits - n.length; i++)
			zero += '0';
	}

	return zero + n;
}

function gfSetSelectedFileName(oFile,sTextId){
	var oText = $("#" + sTextId);
	 var sFileName = oFile.value;
	 var aFileName = sFileName.split("\\");
	 sFileName = aFileName[aFileName.length - 1];
	 oText.val(sFileName);
}


/*]]>*/

</script>
</head>
</html>